@use './../../../../sass/variables' as var;
@use './../../../../sass/components' as template;

.button {
    @extend %button;
    font-weight: 700;
    background-color: var.$button-color-primary;
}

.span {
    @extend %span_icon;
    margin-right: 0.5em;
}