.button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 2em;
    padding: 0.4em;


    border-radius: $button-corner-radius;
    border: $button-border-thin solid transparent;
    cursor: pointer;
    
    background-color: $button-color;

    &:hover {
        border: $button-border-thin solid black;
    }

    &:disabled {
        cursor: not-allowed;
    }

    &--primary {
        background-color: $button-color-primary;
    }

    &--danger {
        background-color: $button-color-danger;
    }
}

span.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.75em;
    width: 1.75em;
    // svg {
    //     margin-right: 5px;
    // }
}

.input {
    border-radius: $input-corner-radius;
    border: $input-border-thin solid transparent;
    height: 2em;
    font-size: 0.9rem;
    background-color: $input-background-color;
    // align-items: center;
    // border: ;
    // box-shadow: none;
    // display: inline-flex;
    // justify-content: flex-start;
    // line-height: 1.5;
    // padding-bottom: calc(0.5em - 1px);
    // padding-left: calc(0.75em - 1px);
    // padding-right: calc(0.75em - 1px);
    // padding-top: calc(0.5em - 1px);
    // position: relative;
    // vertical-align: top;

    &:hover {
        border: $input-border-thin solid rgb(83, 83, 83);
    }
}
