// buttons
$button-color: rgb(211, 211, 211);
$button-color-primary: rgb(77, 190, 255);
$button-color-danger: rgb(255, 184, 184);

$button-corner-radius: 0.2em;
$button-border-thin: 2px;

// input
$input-corner-radius: 0.2em;
$input-border-thin: 2px;

$primary-color: #282c34;
$secondary-color: #61dafb;

$background-color: #ffffff;

$body-content-max-width: 1200px;
