.form-login {
    // box-sizing: border-box;
    // display: flex;
    // clear: both;
    // font-size: 1rem;
    position: relative;
    // text-align: inherit;


    .form-input-block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // font-size: 1em;

        // label {
        //     display: block;
        // }

        div.control {
            display: flex;
            flex-direction: row;

            position: relative;

            span {
                position: absolute;
                // color: #919191;
                // height: 2em;
                // width: 2em;
                // pointer-events: none;
                // position: absolute;
                // z-index: 4;
                // display: flex;
                // justify-content: center;
                // align-items: center;
            }

            input {
                padding-left: 2em;
                height: 2em;
                ;
            }
        }

        p.danger {
            color: rgb(255, 0, 0);
            margin-top: 0;
            font-size: 0.7em;
        }
    }

    .form-controls {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        // height: 2em;
        margin-top: 1em;

        button, a {
            width: 45%;
            // display: inline-block;
            // height: 30px;
            // padding: 5px 11px;
        }
        a {
            text-decoration: none;
        }
    }
}