form.profile-creation-form {
    p.error{
        color: red;margin-top: 0;
        font-size: .9rem;
    }
    div.form-input-block {
        input[type=text] {
            display: block;
            width: 100%;
        }
    }
    button {
        font-size: 1.2rem;
    }
}