@import "./../../../variables.scss";

div.saved-profiles {
    div.profiles-table {
        border-radius: $common-corner-radius;
        border: $common-border-thin solid #1f1f1f;
        
        max-height: 60vh;
        overflow-y: auto;
        table {
            width: 100%;
            thead {
                background-color: $table-header-color;
                border-top-left-radius: $common-corner-radius;
                border-top-right-radius: $common-corner-radius;

                height: 2.5em;

                position: sticky;
                top: 0;
                z-index: 1;

                th {
                    font-weight: normal;

                    input.name-filter {
                        background-color: inherit;
                        border: 2px solid transparent;
                        outline: none;

                        &:focus {
                            border-bottom: 2px solid black;
                        }

                        &::placeholder {
                            color: black;
                            border-width: 0px;
                            border: none;
                        }
                    }

                    select.map-filter {
                        background-color: inherit;
                        border: 0px;
                    }
                }
            }

            tbody {
                // width: 100%;
                tr {
                    height: 2.5em;                    
                    &:hover {
                        background-color: #ddd;
                    }

                    span.expand-row-icon {
                        color: blue;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}