@import 'swiper/swiper.scss';
@import 'swiper/modules/navigation/navigation.scss';
// @import 'swiper/modules/pagination/pagination.scss';

.area-images {
    max-width: 800px;
    overflow: hidden;

    img {
        // 800 450
        max-width: 800px;
        max-height: 450px;
    }

    .swiper-carousel {
        height: 90px;

        .swiper-slide {
            margin-right: 5px;

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: scale-down;
            }
        }
    }
}