@import "@fortawesome/fontawesome-svg-core/styles.css";

div.component-awaiting {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .fas-await {
        color: rgb(41, 41, 41);
    }

    &--inline {
        flex-direction: row;
        justify-content: flex-start;
        
        .fas-await--inline {
            margin-right: 5px;
        }
    }
}