@import "@fortawesome/fontawesome-svg-core/styles.css";

div.component-edit {
    text-align: center;

    .fa-edit {
        color: rgb(41, 41, 41);
    }

    &--inline {
        text-align: start;
        
        .fa-edit--inline {
            margin-right: 5px;
        }
        > p {
            display: inline-block;
        }
    }
}