@import "@fortawesome/fontawesome-svg-core/styles.css";

div.component-warning {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    

    .fas-warn {
        color: rgb(41, 41, 41);
    }

    &--inline {
        flex-direction: row;
        justify-content: flex-start;
        
        .fas-warn-inline {
            margin-right: 5px;
        }
    }
}
