@use './../../../sass/variables' as var;


.component {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &_inline {
        flex-direction: row;
        justify-content: flex-start;
    }
}

.icon {
    color: var.$icon-waiters-color;
    margin-right: 5px;
}

div.component-warning {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    

    .fas-warn {
        color: rgb(41, 41, 41);
    }

    &--inline {
        flex-direction: row;
        justify-content: flex-start;
        
        .fas-warn-inline {
            margin-right: 5px;
        }
    }
}
