@import './../../../_variables.scss';

div.license-shadow {
    overflow: hidden;
    display: block;
    position: fixed;
    z-index: 100;
    padding-top: 10%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);

    div.license {
        // border: 1px solid black;
        background-color: rgb(218, 218, 218);
        border-radius: 5px;
        max-width: $body-content-max-width;
        margin: auto;

        display: flex;
        flex-direction: column;;


        header.license-header {
            text-align: center;
            position: relative;

            h2 {
                font-size: 2em;
                margin: 0;
                padding: 0;
            }

            // border: 1px solid black;
            button.license-close {
                width: 2.5em;
                height: 2.5em;
                position: absolute;
                right: 0;
                top: 0;
            }
        }

        div.agreement-text {
            margin: auto;
            background-color: #fff;
            width: 90%;
            border-radius: 5px;
            padding: 1em;
            max-height: 75%;
            overflow-y: scroll;
        }

        footer.license-footer {
            display: flex;
            justify-content: space-around;

            padding: 1em 0;

            .button {
                font-size: 1.2rem;
                width: 15%;
                max-width: 200px;
            }
        }
    }
}