form.registration-form {
    margin: auto;
    width: 50%;

    border: 2px solid black;
    border-radius: 5px;

    padding: 1em;

    .form-input-block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // font-size: 1em;

        // label {
        //     display: block;
        // }

        div.control {
            display: flex;
            flex-direction: row;

            position: relative;
            width: 100%;

            >span {
                position: absolute;
                // color: #919191;
                // height: 2em;
                // width: 2em;
                // pointer-events: none;
                // position: absolute;
                // z-index: 4;
                // display: flex;
                // justify-content: center;
                // align-items: center;
            }

            >input {
                padding-left: 2em;
                height: 2em;
                width: 100%;
            }
        }

        p.error {
            color: rgb(255, 0, 0);
            margin-top: 0;
            font-size: 0.7em;
        }
    }

    div.form-controls {
        padding-top: 2em;
        button {
            font-size: 1.2rem;
        }
        >p.error {
            display: inline-block;
            color: rgb(255, 0, 0);
            margin-top: 0;
            // font-size: 0.7em;
        }
    }
}