@use './../../../sass/components';
@use './../../../sass/variables'as var;

.form {
    margin: auto;
    width: 50%;

    border: 2px solid black;
    border-radius: 5px;

    padding: 1em;
}

.button {
    @extend %button;
    background-color: var.$button-color-primary;
    font-size: 1.1rem;
}

.input {
    @extend %input;

    padding-left: 2em;
    height: 2em;
    width: 100%;
}

.icon {
    @extend %span_icon;

    position: absolute;
    height: 2em;
    width: 2em;
}

.error {
    color: rgb(255, 0, 0);
    margin-top: 0;
    font-size: 0.7rem;

    &Async {
        padding-left: 1em;
        margin: 0;
    }
}

.controls {
    padding-top: 2em;
    display: inline-flex;
    align-items: flex-start;
}

form.registration-form {
    margin: auto;
    width: 50%;

    border: 2px solid black;
    border-radius: 5px;

    padding: 1em;

    .form-input-block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // font-size: 1em;

        // label {
        //     display: block;
        // }

        div.control {
            display: flex;
            flex-direction: row;

            position: relative;
            width: 100%;

            >span {
                position: absolute;
                // color: #919191;
                // height: 2em;
                // width: 2em;
                // pointer-events: none;
                // position: absolute;
                // z-index: 4;
                // display: flex;
                // justify-content: center;
                // align-items: center;
            }

            >input {
                padding-left: 2em;
                height: 2em;
                width: 100%;
            }
        }

        p.error {
            color: rgb(255, 0, 0);
            margin-top: 0;
            font-size: 0.7em;
        }
    }

    div.form-controls {
        padding-top: 2em;
        display: inline-flex;
        align-items: flex-start;

        button {
            font-size: 1.2rem;
        }

        >p.error {
            color: rgb(255, 0, 0);
            padding-left: 1em;
            margin: 0;
            // font-size: 0.7em;
        }
    }
}