div.marker-list {
    font-size: 0.9rem;
    padding: 1em;
    height: 100%;

    input.markers-filter {
        outline: auto;
    }
    div.create-marker {
        padding-top: 0.5em;
    }

    ul {
        width: 95%;
        padding-left: 1em;

        overflow-y: auto;
        height: 100%;
        li {
            border-bottom: 2px solid black;
            padding-top: 0.5em;
            cursor: pointer;

            .component-edit {
                float: right;
            }
        }
    }
}